{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="index-container h-80">
    <div class="row h-50">
        <div class="col-7 col-md-6 my-auto ml-auto">
            <p class="display-1 logo-font index-header">
                Welcome to GAIN Supply, your one stop shop on the way to greatness.
            </p>
            <div class="text-center">
                <span>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-outline-black rounded-0 btn-blue py-3">Browse Products</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row h-50">
        <div class="col-7 col-md-6 my-auto ml-auto">
            <p class="display-1 logo-font index-header">
                Why use Gain Supply? Take a look at these testimonials from some of our customers.
            </p>
            <div class="text-center">
                <span>
                    <a href="{% url 'testimonials' %}" class="btn btn-lg btn-outline-black rounded-0 btn-blue py-3">Testimonials</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}