html {
    height: 100%;
}

body {
    background: url('/media/homepage-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: "Open Sans", sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: black !important;
}

.border-black {
    border: black 1px solid !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* header */

.logo-font {
    font-family: "Oswald", sans-serif;
    color: black;
}

.main-logo-link {
    width: fit-content;
}

.gain-logo {
    text-transform: upppercase;
    color: lightskyblue;
}

.index-header {
    color: whitesmoke;
    font-weight: 600;
}

/* buttons */

.browse-button {
    background: black;
    color: lightskyblue;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-blue {
    background: lightskyblue;
    color: white;
}

a.category-badge > span.badge:hover {
    background: black !important;
    color: lightskyblue !important; 
}

.browse-button:hover,
.browse-button:active,
.browse-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

/* Media Queries */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}