{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Incorrect Method - Error 405</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="error-page-container" col-10 offset-1>
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="my-4">
                        Method not allowed! If you require assistance please get in touch.
                <div class="testimonial-links d-flex justify-content-center text-center w-100">
                    <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5 mr-3 ml-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back To Home</span>
                    </a>
                    <a href="{% url 'products' %}" class="btn btn-blue btn-outline-black rounded-0 mt-5">
                        <span>Browse Products</span>
                        <span class="icon">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
